$green: #30AEA1;

// Retina mixin

@mixin image-2x($image, $width, $height) {
  @media (min--moz-device-pixel-ratio: 1.3),
         (-o-min-device-pixel-ratio: 2.6/2),
         (-webkit-min-device-pixel-ratio: 1.3),
         (min-device-pixel-ratio: 1.3),
         (min-resolution: 1.3dppx) {
    
    background-image: url($image);
    background-size: $width $height;
  }
}

// Mixins for TypeKit

@mixin adelle-sans-light($style: normal) {
	font-family: "adelle-sans";
	font-weight: 100;
	font-style: $style;
}

@mixin adelle-serif($style: normal) {
	font-family: "adelle";
	font-style: $style;
}

// Typography adjustments

body {
	font-family: "proxima-nova";
}

h1, h2, h3, h4, h5, h6 {
	font-family: "adelle"
}

hr {
	margin: 20px 0;
	text-align: center;
	letter-spacing: 3px;
	font-size: 20px;
	border: none;
	color: $grayLight;
	
	&::before {
		content: '\2217\2217\2217\2217\2217';
	}
}

// Structure styles

header#site-header {
	margin-bottom: 10px;
	padding: 25px 0 50px 0;
	@include clearfix;
	background-image: -webkit-radial-gradient(50% -2px, 350px 7px, rgba(162,168,184,0.45) -32%, #fff 100%);
	background-repeat: no-repeat;
	background-position: center 90px;
	
	h1 {
		display: inline;
		color: $green;		
		@include adelle-sans-light(italic);
		
		&::after {
			content: ' /'
		}
		
		a, a:visited, a:hover {
			color: $green;
			text-decoration: none;
		}
	}
	
	nav {
		display: inline;
		font-weight: bold;
		
		ul {
			display: inline;			
			margin: 0 auto;
		}
	}
}

footer {
	border-top: 1px solid #d3d3d3;
	margin-top: 25px;
	padding-top: 10px;
	
	nav {
	font-weight: bold;
	
		li:first-child {
			padding-left: 0;
		}
	}
}

// Index styles

p#index-blurb {
	line-height: 28px;
	font-size: 24px;
	@include adelle-serif;
}

section#first-post {
	h2 {
		margin-top: 0px;
		margin-bottom: 0px;
	}
	
	p:last-child {
		font-style: italic;
	}
}

section#post-listing {
	ul {
		
		li {
			font-size: 24px;
			padding: 10px 10px 10px 0;
			border-bottom: 1px solid #d3d3d3;
			
		}
	}
}

// Post styles

article header#post-header {
	h2, p {
		margin-bottom: 0px;
	}
}

.post-date {
	@include adelle-sans-light(italic);
	font-size: $baseFontSize;
	margin-bottom: 25px;
	color: $grayDark;
}

// Page styles

.page-header {
	border: none;
	margin-top: 0px;
	
	p {
		color: $grayLight;
		font-size: 22px;
		line-height: 26px;
	}
	
	hr {
		margin-top: 0px;
		margin-bottom: 0px;
	}
}

// About page image

.logan-image {
	@include hide-text;
	width: 225px;
	height: 225px;
	border-radius: 125px;
	display: block;
//	@include box-shadow(inset 0 0 0 16px rgba(255,255,255,0.6), 0 1px 2px rgba(0,0,0,0.1));
	@include box-shadow(0 1px 0 rgba(255,255,255,.2), inset 0 4px 5px rgba(0,0,0,.6), inset 0 1px 0 rgba(0,0,0,.6));
	background: url('/images/logan.png') no-repeat center center;
	@include image-2x('/images/logan@2x.png', 225px, 225px);
}

// Responsive adjustments

@media (max-width: 767px) {
	p#index-blurb {
		font-size: 18px;
		line-height: 20px;
	}
}