<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logan Leger &mdash; Engineer + Entrepreneur in Baton Rouge, Louisiana</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% css_asset_tag global %}
- /components/sass-twitter-bootstrap/lib/bootstrap.scss
- /components/sass-twitter-bootstrap/lib/responsive.scss
- /scss/styles.scss
{% endcss_asset_tag %}
  </head>
  <body>
		<div class="container">
			<header>
				<div class="row">
					<div class="span12">
						<a class="logan-image ir" href="/" title="Logan Leger">Logan Leger</a>
					</div>
				</div>
			</header>
		</div>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>