<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Logan Leger &mdash; Engineer + Entrepreneur in Baton Rouge, Louisiana</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
{% css_asset_tag global %}
- /components/sass-twitter-bootstrap/lib/bootstrap.scss
- /components/sass-twitter-bootstrap/lib/responsive.scss
- /scss/styles.scss
{% endcss_asset_tag %}

	<script type="text/javascript" src="//use.typekit.net/nhv3tio.js"></script>
	<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
		<div id="wrap">
			<div class="container">
				<header>
					<h1>Logan Leger</h1>
					<nav>
						<ul class="inline">
							<li><a href="/">Home</a></li>
							<li><a href="/about">About</a></li>
							<li><a href="http://twitter.com/lleger">@lleger</a></li>
							<li><a href="/rss">RSS</a></li>
						</ul>
					</nav>
				</header>

				{{ content }}

			</div>

			<div id="push"></div>			
		</div>
		
		<footer>
			<div class="container">
				<nav>
					<ul class="inline pull-left">
						<li><a href="/">Home</a></li>
						<li><a href="/about">About</a></li>
						<li><a href="http://twitter.com/lleger">@lleger</a></li>
						<li><a href="/rss">RSS</a></li>
					</ul>
				</nav>

				<p class="pull-right">Built in Baton Rouge, Louisiana.</p>				
			</div>
		</footer>
		
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>