<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{ page.title }}{% if page.full_title == null %} &mdash; Logan Leger{% else %}{% endif %}</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		
    <link href="{{ "site.css" | cdn }}" rel="stylesheet">

	  <link rel="alternate" type="application/rss+xml" href="/atom.xml" />
	
	  <meta name="author" content="Logan Leger" />
	  <meta name="description" content="Writings on entrepreneurship and engineering by Logan Leger, CEO of NewAperio in Baton Rouge, LA." />
		<meta name="keywords" content="logan leger, newaperio, baton rouge, entrepreneurship, engineering, objective c, ruby, rails, ios, iphone, ipad" />	
		<link rel="canonical" href="{{ site.url }}{{ page.url }}" />

		<script type="text/javascript" src="//use.typekit.net/nhv3tio.js"></script>
		<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
  </head>
  <body>
		<div id="wrap">
			<div class="container">
				<header id="site-header">
					<h1><a href="/">Logan Leger</a></h1>
					<nav>
						<ul class="inline">
							<li><a href="/">Home</a></li>
							<li><a href="/about.html">About</a></li>
							<li><a href="http://twitter.com/lleger">@lleger</a></li>
							<li><a href="/atom.xml">RSS</a></li>
						</ul>
					</nav>
				</header>

				{{ content }}

			</div>

			<div id="push"></div>			
		</div>
		
		<footer>
			<div class="container">
				<nav>
					<ul class="inline pull-left">
						<li><a href="/">Home</a></li>
						<li><a href="/about.html">About</a></li>
						<li><a href="http://twitter.com/lleger">@lleger</a></li>
						<li><a href="/atom.xml">RSS</a></li>
					</ul>
				</nav>

				<p class="pull-right">Built in Baton Rouge, Louisiana.</p>				
			</div>
		</footer>
		
    <script src="http://code.jquery.com/jquery-latest.js"></script>
  </body>
</html>